---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

a:focus {
  outline: 3px solid #000;
}

.back-to-top.active {
    opacity: 1!important;
}
.back-to-top {
    position: fixed;
    opacity: 0;
    z-index: 2;
    bottom: 60px;
    right: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-transition: opacity .2s ease,box-shadow .1s linear;
    transition: opacity .2s ease,box-shadow .1s linear;
}

@media only screen and (max-width: 38em) {

  .piece-group {
    padding-left: 0;
    padding-right: 0;
  }

}
