<header role="navigation" id="nav" tabindex="0">
  <div class="nav grid grid-middle border-bottom text-center gutter-1-2 pad-t">
    <a href="/index.html" class="unit unit-xs-hidden unit-s-hidden m-1-5 l-1-5 xl-1-5 gutter" aria-label="Click here to go back to the home page.">
      <svg class="logo island-1-4 push-1-4" width="3in" height="3in" viewBox="0 0 240 240">
        <title>Genevieve Lepine Logo</title>
        <description>My logo is a geometric representation of the letter G.</description>
        <use xlink:href="/images/icons.svg#logo"></use>
      </svg>
    </a>
    <ul class="unit xs-1 s-1 m-3-5 l-3-5 xl-3-5 text-center push-1-2 list-group-inline">
      <div class="grid">
        <li class="unit xs-1 s-1-3 inline {% if page.highlight_nav == 'branding' %}current{% endif %}">
          <a class="btn btn-ghost btn-text inline gutter-1-2" aria-label="Click here to navigate to the portfolio pieces page" href="#branding">Branding</a>
        </li>
        <li class="unit xs-1 s-1-3 inline {% if page.highlight_nav == 'personal-projects' %}current{% endif %}">
          <a class="btn btn-ghost btn-text inline gutter-1-2" aria-label="Click here to navigate to my other, non-branding-related work" href="/other-work/">Other work</a>
        </li>
        <li class="unit xs-1 s-1-3 inline {% if page.highlight_nav == 'contact' %}current{% endif %}">
          <a class="btn btn-ghost btn-text inline gutter-1-2" aria-label="Click here to navigate to my contact information" href="#contact">Contact</a>
        </li>
      </div>
    </ul>
  </div>
</header>
