.icon-hover:hover path, .icon-hover:hover circle {
  fill: var(--color-primary);
}

.icon-hover:hover polyline {
  stroke: var(--color-primary);
}

.icon-hover:hover {
  display: block;
  border-radius: 12px;
  border: 3px solid var(--color-primary);
}

.logo {
  width: 70%;
  height: 70%;
  max-width: 10em;
}

.border-bottom {
  border-bottom: 2px solid var(--color-accent-light);
}

.border-top {
  border-top: 2px solid var(--color-accent-light);
}

.current {
  background-color: var(--color-accent-light);
  color: var(--color-secondary-opposite);
  border: none;
  border-radius: 3px;
}
