<div class="card product-details-card grid wrapper gutter-1-2">
  <div class="pad-t unit xs-1">
    <a href="/#branding" aria-label="Click here to navigate to the previous page." class="previous-page pad-t-1-4">
      <span>&lt;</span>
      <span class="gutter-1-2">Return to previous page</span>
    </a>
  </div>
  <h3 class="unit xs-1 pad-t-1-2 push-0">{{include.data.name}}</h3>
  <div class="pad-t-1-2 unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
    <div class="grid">
      <div class="unit xs-1">
        <div class="grid">
          {% for image in page.images %}
          <div class="hover-image island-1-4 push-1-2 unit xs-1">
            <img class="img-flex" src="{{image}}" alt="">
          </div>
          {% endfor %}
          {% for video in page.videos %}
          <div class="hover-image island-1-4 push-1-2 unit xs-1">
            <iframe class="img-flex" width="1000" height="630" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="pad-t-1-2 unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter-1-2">
    <div class="gutter">
      <h6 class="push-1-2">About the client</h6>
      <ul class="list-group">
        <li class="list-group-item kilo">{{include.data.description_1}}</li>
      </ul>
      <h6 class="push-1-2">The challenge</h6>
      <ul class="list-group">
        <li class="list-group-item kilo">{{include.data.description_2}}</li>
      </ul>
      <h6 class="push-1-2">The process</h6>
      <ul class="list-group">
        <li class="list-group-item kilo">{{include.data.description_3}}</li>
      </ul>
      <h6 class="push-1-2">My solution</h6>
      <ul class="list-group">
        <li class="list-group-item kilo">{{include.data.description_4}}</li>
      </ul>
      {% capture sketches_url %}/sketches/{{page.slug}}/{% endcapture %}
      <div class="push">
        {% pattern buttons/basic-sketches text="Sketches" url_1=sketches_url %}
      </div>
    </div>
  </div>
</div>
