<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Genevieve Lepine Design Porfolio • A graphic designer and part-time quizmaster who rocks at creating brand identities • Ottawa, Canada</title>
  <meta name="description" content="A showcase of my best branding-related portfolio pieces">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Oswald:200,300,400,500,600,700" rel="stylesheet">
  <meta name="ICBM" content="45.41117,-75.69812">
  <meta name="geo.position" content="45.41117,-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Genevieve Lepine Design Porfolio • A graphic designer and part-time quizmaster who rocks at creating brand identities • Ottawa, Canada">
  <meta property="og:url" content="https://genevievelepine.design/">
  <meta property="og:image" content="https://genevievelepine.design/images/genevieve-lepine-logo.svg">
  <meta property="og:site_name" content="Genevieve Lepine">
  <meta property="og:description" content="A showcase of my best branding-related portfolio pieces">
  <meta property="og:locale" content="en_CA">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@genevievelepinedesign">
  <meta name="p:domain_verify" content="1c25fcba70068b4fbce5828e04cf801f"/>
  <link href="favicon.ico" rel="shortcut icon">
  <link href="favicon-196.png" rel="icon" type="image/png">
</head>

<div class="skip-links">
  <a href="#main">Jump to main content</a>
  <a href="#nav">Jump to navigation</a>
</div>

<body>
  <div id="nav" role="navigation" tabindex="0">{% pattern headers/basic-nav %}</div>
  <div id="main" role="main" tabindex="0">{{content}}</div>
  <a href="#" class="back-to-top active" aria-label="Back to top of page" style="opacity: 0;">
    <svg class="arrow" width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
      <defs><path id="a-gh3i" d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8z"></path></defs>
      <g transform="translate(-4 -4)" fill="none" fill-rule="evenodd">
        <path d="M0 0h24v24H0z"></path>
        <mask id="b-fk43" fill="#f5b65f"><use xlink:href="#a-gh3i"></use></mask>
        <use fill="#f5b65f" xlink:href="#a-gh3i"></use>
        <g class="arrow-icon" mask="url(#b-fk43)" fill="#f5b65f" fill-rule="nonzero">
          <path d="M0 0h24v24H0z"></path>
        </g>
      </g>
    </svg>
  </a>
  <div role="contentinfo" tabindex="0">{% pattern footers/footer-main %}</div>
</body>
</html>
