.transparent-img {
  position: relative;
  display: block;
}

.background-image {
  background-image: url("../images/background.svg");
  min-height: 30em;
  max-height: 50em;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-color: none;
}

.hover-banner {
  transition: background-color 200ms ease-out .2s;
  background-color: var(--color-secondary-light);
}

.hover-banner:hover {
  background-color: var(--color-secondary);
}

.hover-banner .text-hover {
  transition: color 500ms ease-out .3s;
  color: var(--color-primary);
}

.hover-banner:hover .text-hover {
  color: var(--color-secondary-opposite);
}

.avatar {
  width: 20em;
  height: 400px;
}

.avatar-background {
  height: 300px;
  margin: 50px auto;
  position: relative;
  width: 300px;
  background: transparent url("../images/avatar-background.svg") no-repeat center center;
}

.left-eye {
  bottom: calc(55% - 8px);
  left: calc(35% - 7px);
  position: absolute;
  width: 25px;

  transform-origin: 50% calc(100% - 8px)''
}
