.transparent-img {
  position: relative;
  display: block;
  overflow: hidden;
}

.blur-effect {
  background: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .4));
}

.transparent-white {
  background-color: rgba(255, 255, 255, .75);
  color: var(--color-primary);
  width: 100%;
}

.hover-banner {
  transition: background-color 200ms ease-out .2s;
  background-color: var(--color-secondary-light);
}

.hover-banner:hover {
  background-color: var(--color-secondary);
}

.hover-banner .text-hover {
  transition: color 500ms ease-out .3s;
  color: var(--color-primary);
}

.hover-banner:hover .text-hover {
  color: var(--color-secondary-opposite);
}
