.transparent-img {
  position: relative;
  display: block;
  height: 100%;
}

.background-image {
  background-image: url(../images/background.svg);
  min-height: 20em;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  border-color: none;
  height: 100%;
  background-position: right;
}

.hover-banner {
  transition: background-color 200ms ease-out .2s;
  background-color: var(--color-secondary-light);
}

.hover-banner:hover {
  background-color: var(--color-secondary);
}

.hover-banner .text-hover {
  transition: color 500ms ease-out .3s;
  color: var(--color-primary);
}

.hover-banner:hover .text-hover {
  color: var(--color-secondary-opposite);
}

.avatar-background {
  height: 22em;
  max-height: 40em;
  width: 22em;
  margin: auto;
  background-size: contain;
  background: transparent url("../images/avatar-background.svg") no-repeat center;
}

.avatar-background:hover {
  height: 22em;
  max-height: 40em;
  width: 22em;
  background-size: contain;
  background: transparent url("../images/blinking-avatar-background.svg") no-repeat center;
}

.header-banner {
  height: 28em;
}

.top-heading {
  color: var(--color-primary);
}

.light-purple {
  background-color: var(--color-accent-light);
}

.banner-div {
  width: 100%;
}
